{% extends "./base.html" %}

{% block body %}
<div id="header">{% block header %}Úkoly{% endblock %}</div> 
{% block menu %}{{block.super}}{% endblock %}

<div id="content"><!-- content -->
{% block content %}

{% if owner_list %}

<table cellspacing="0">
    <thead>
      <tr>
        {% for header in table_headers %}
            <th class="{% ifequal field header.1 %}sorted{% ifequal ot "desc" %} descending{%else%} ascending{% endifequal %}{% endifequal %}">
            {% ifequal field header.1 %}
                <a href="{% ifequal ot "desc" %}?ot=asc&amp;{% else %}?ot=desc&amp;{% endifequal %}field={{ header.1 }}&amp;search={{search}}"> {{ header.0 }}</a></th>
            {% else %}         
                <a href="?ot=asc&amp;field={{ header.1 }}&amp;search={{search}}"> {{ header.0 }}</a></th>
            {% endifequal %}
        {% endfor %}  
    </tr>
  </thead>
  
  <tbody> 
  
  {% for owner in owner_list %}
        
   <tr>
       <td><a href="/nabidka/owner/{{  owner.id }}/"> {{  owner.id }}</a></td>
       <td>{{ owner.firstname }}</td>
       <td><a href="/nabidka/owner/{{ owner.id }}/">{{ owner.surname }}</a></td>
       <td>{{ requirement.status }} </td>
         
    </tr>
  </tbody>  
  {% endfor %}
  </table>

{% else %}
	<p>Hi Kita,  no owner requirements are available.</p>
    
{% endif %}

      {% endblock %} <!-- content -->
</div>
{% endblock %} <!-- body -->
